<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Users</h2>
        <ul class="list-group">
          <li class="list-group-item" v-for="user in users">
            {{ user.name }} {{ user.password }}
            <span class="pull-right">
              <button
                class="btn btn-xs btn-danger"
                v-on:click="deleteUser($index)"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </span>
          </li>
        </ul>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="New Task"
            v-on:keyup.enter="createUser"
            v-model="newUser.name"
          />
          <span class="input-group-btn">
            <button
              class="btn btn-primary"
              type="button"
              v-on:click="createUser"
            >
              Create user
            </button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "User",
  data() {
    return {
      users: [],
      newUser: {}
    };
  },

  created() {
    this.$http.get("localhost:5000/user").then(response => {
      this.users = response.body ? response.body : [];
    });
  },

  methods: {
    createUser() {
      if (!$.trim(this.newUser.name)) {
        this.newUser = {};
        return;
      }
      this.$http
        .put("localhost:5000/user", this.newUser)
        .success(response => {
          this.newUser.id = response.created;
          this.users.push(this.newUser);
          console.log("User created!");
          console.log(this.newUser);
          this.newUser = {};
        })
        .error(error => {
          console.log(error);
        });
    },
    deleteUser(index) {
      this.$http
        .delete("localhost:5000/user/" + this.users[index].id)
        .success(response => {
          this.tasks.splice(index, 1);
          console.log("User deleted!");
        })
        .error(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style></style>
